<div class="page-header">
  <h3 class="page-title"> Tous les profils  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profil</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <button style="float: right;background-color:#059BCE" class="btn " data-bs-toggle="modal"
          [attr.data-bs-target]="'#addModal'">
          <i class="fa-solid fa-users"></i>Ajouter Profil</button>

        <h4 class="card-title">Tableau des profils
        </h4>

        <div class="table-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th style="width: 22%;"> Titre</th>
                <th style="width: 18%;"> Menu Id</th>

                 <th style="width: 15%;" class="text-center"> mettre Profil à l'utilisateur </th>
                <th style="width: 15%;" class="text-center"> Details Profils </th>
                <th style="width: 15%;" class="text-center"> Modifier Profils </th>
                <th style="width: 15%;" class="text-center"> Supprimer Profils </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataArray; index as i">
                <td class="py-1">{{ item.titre }}</td>
                <td class="py-1">{{ item.menu_id }}</td>

                <td class="text-center">
                  <button class="btn  col-3" style="background-color: #63b3ed;" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#asgModal' + i">
                    <i class="fa-regular fa-hand-pointer"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-success col-3" data-bs-toggle="modal" [attr.data-bs-target]="'#infoModal'+ i"
                    (click)="getProfilDetails(item._id)">
                    <i class="fa-regular fa-file"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-warning col-3" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#updateModal'+ i">
                    <i class="fa-solid fa-marker"></i>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-danger col-3" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteModal'+ i">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- asign equipe to user modal -->
<!-- Asign equipe to user modal -->
 <div *ngFor="let item of dataArray; let i = index" class="modal fade" [id]="'asgModal' + i" tabindex="-1" aria-labelledby="asgModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Assigner une profil à l'utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Assigner une profil à l'utilisateur</p>
        <div class="mb-3 row">
          <div class="col-sm-10">
            <form #assignProfilForm="ngForm">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Identifiant de l'utilisateur</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="userId" name="userId" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Identifiant de profil</span>

                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="item._id" name="profilId" required>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-info" (click)="assignProfilToUser(assignProfilForm, userId, item._id, i)">Assigner</button>
      </div>
    </div>
  </div>
</div>







<!-- Modals  each profil -->
<!-- Modals for each profil -->
<div *ngFor="let item of dataArray; index as i">
  <div class="modal fade" [id]="'infoModal' + i" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Informations</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Profil Informations</p>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nom profil</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" [value]="profilInfo?.titre" aria-label="readonly input example"
                readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Menu ID</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" [value]="profilInfo?.menu_id " aria-label="readonly input example"
                readonly>
            </div>
          </div>
          <!-- Display menu details -->
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Menu Details</label>
            <div class="col-sm-10">
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Titre</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.titre" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Créer Projet</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.createProject? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Modifier Projet</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.modifierProjet? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Supprimer Projet</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.deleteProjet? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Créer Environnement</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.createEnvironnement? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Modifier Environnement</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.modifierEnvironnement? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Supprimer Environnement</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.deleteEnvironnement? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Obtenir tous les Environnements</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.getAllEnvironnement? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Obtenir un Environnement</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.getOneEnvironnement? 'activer' : 'desactiver' " readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Créer Ticket</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.createTicket? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Modifier Ticket</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.modifierTicket? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Obtenir tous les Commentaires dans un Ticket</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.getAllCommentaireInTicket? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Créer Commentaire</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.createCommentaire? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Modifier Commentaire</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.updateCommentaire? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="col-sm-6 col-form-label">Supprimer Commentaire</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" [value]="menuDetails?.deleteCommentaire? 'activer' : 'desactiver'" readonly>
                </div>
              </div>
              <!-- Add other menu details here -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- update equipe modal -->
    <!-- update equipe modal -->
<!-- update equipe modal -->
<div *ngFor="let item of dataArray; let i = index" class="modal fade" [id]="'updateModal' + i" tabindex="-1"
  aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Profil Informations</p>
        <form #modifierProfilForm="ngForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Nom D'Profil</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
              [(ngModel)]="item.titre" name="titre" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Menu ID</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
              [(ngModel)]="item.menu_id" name="menu_id" required>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <!-- First Column of Checkboxes -->
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createProject" name="createProject"
                  [(ngModel)]="item.createProject" (change)="item.createProject = !item.createProject">
                <label class="form-check-label" for="createProject">Create Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierProjet" name="modifierProjet"
                  [(ngModel)]="item.modifierProjet">
                <label class="form-check-label" for="modifierProjet">Modifier Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteProjet" name="deleteProjet"
                  [(ngModel)]="item.deleteProjet">
                <label class="form-check-label" for="deleteProjet">Delete Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createEnvironnement" name="createEnvironnement"
                  [(ngModel)]="item.createEnvironnement">
                <label class="form-check-label" for="createEnvironnement">Create Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierEnvironnement" name="modifierEnvironnement"
                  [(ngModel)]="item.modifierEnvironnement">
                <label class="form-check-label" for="modifierEnvironnement">Modifier Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteEnvironnement" name="deleteEnvironnement"
                  [(ngModel)]="item.deleteEnvironnement">
                <label class="form-check-label" for="deleteEnvironnement">Delete Environnement</label>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Second Column of Checkboxes -->
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getAllEnvironnement" name="getAllEnvironnement"
                  [(ngModel)]="item.getAllEnvironnement">
                <label class="form-check-label" for="getAllEnvironnement">Get All Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getOneEnvironnement" name="getOneEnvironnement"
                  [(ngModel)]="item.getOneEnvironnement">
                <label class="form-check-label" for="getOneEnvironnement">Get One Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createTicket" name="createTicket"
                  [(ngModel)]="item.createTicket">
                <label class="form-check-label" for="createTicket">Create Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierTicket" name="modifierTicket"
                  [(ngModel)]="item.modifierTicket">
                <label class="form-check-label" for="modifierTicket">Modifier Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getAllCommentaireInTicket" name="getAllCommentaireInTicket"
                  [(ngModel)]="item.getAllCommentaireInTicket">
                <label class="form-check-label" for="getAllCommentaireInTicket">Get All Commentaire In Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createCommentaire" name="createCommentaire"
                  [(ngModel)]="item.createCommentaire">
                <label class="form-check-label" for="createCommentaire">Create Commentaire</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="updateCommentaire" name="updateCommentaire"
                  [(ngModel)]="item.updateCommentaire">
                <label class="form-check-label" for="updateCommentaire">Update Commentaire</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteCommentaire" name="deleteCommentaire"
                  [(ngModel)]="item.deleteCommentaire">
                <label class="form-check-label" for="deleteCommentaire">Delete Commentaire</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-info"
          (click)="modifierProfil(modifierProfilForm, item._id, i)">Modifier</button>
      </div>
    </div>
  </div>
</div>









    <!-- Delete Modals for each equipe -->
    <div *ngFor="let item of dataArray; index as i">
      <div class="modal fade" [id]="'deleteModal' + i" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
              Êtes-vous sûr de vouloir supprimer cet Profil ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-danger" (click)="deleteProfil(item._id, i)">supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- add Profil modal -->
<!-- add Profil modal -->
<!-- add Profil modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Ajouter Profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Profil Informations</p>
        <form #addProfilForm="ngForm">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">Nom Profil</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                  [(ngModel)]="newProfil" name="titre" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <!-- First Column of Checkboxes -->
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createProject" name="createProject"
                  [(ngModel)]="newProfilOptions.createProject">
                <label class="form-check-label" for="createProject">Create Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierProjet" name="modifierProjet"
                  [(ngModel)]="newProfilOptions.modifierProjet">
                <label class="form-check-label" for="modifierProjet">Modifier Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteProjet" name="deleteProjet"
                  [(ngModel)]="newProfilOptions.deleteProjet">
                <label class="form-check-label" for="deleteProjet">Delete Project</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createEnvironnement" name="createEnvironnement"
                  [(ngModel)]="newProfilOptions.createEnvironnement">
                <label class="form-check-label" for="createEnvironnement">Create Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierEnvironnement" name="modifierEnvironnement"
                  [(ngModel)]="newProfilOptions.modifierEnvironnement">
                <label class="form-check-label" for="modifierEnvironnement">Modifier Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteEnvironnement" name="deleteEnvironnement"
                  [(ngModel)]="newProfilOptions.deleteEnvironnement">
                <label class="form-check-label" for="deleteEnvironnement">Delete Environnement</label>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Second Column of Checkboxes -->
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getAllEnvironnement" name="getAllEnvironnement"
                  [(ngModel)]="newProfilOptions.getAllEnvironnement">
                <label class="form-check-label" for="getAllEnvironnement">Get All Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getOneEnvironnement" name="getOneEnvironnement"
                  [(ngModel)]="newProfilOptions.getOneEnvironnement">
                <label class="form-check-label" for="getOneEnvironnement">Get One Environnement</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createTicket" name="createTicket"
                  [(ngModel)]="newProfilOptions.createTicket">
                <label class="form-check-label" for="createTicket">Create Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="modifierTicket" name="modifierTicket"
                  [(ngModel)]="newProfilOptions.modifierTicket">
                <label class="form-check-label" for="modifierTicket">Modifier Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="getAllCommentaireInTicket" name="getAllCommentaireInTicket"
                  [(ngModel)]="newProfilOptions.getAllCommentaireInTicket">
                <label class="form-check-label" for="getAllCommentaireInTicket">Get All Commentaire In Ticket</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="createCommentaire" name="createCommentaire"
                  [(ngModel)]="newProfilOptions.createCommentaire">
                <label class="form-check-label" for="createCommentaire">Create Commentaire</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="updateCommentaire" name="updateCommentaire"
                  [(ngModel)]="newProfilOptions.updateCommentaire">
                <label class="form-check-label" for="updateCommentaire">Update Commentaire</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="deleteCommentaire" name="deleteCommentaire"
                  [(ngModel)]="newProfilOptions.deleteCommentaire">
                <label class="form-check-label" for="deleteCommentaire">Delete Commentaire</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-info" (click)="addProfil(addProfilForm)">Ajouter</button>
      </div>
    </div>
  </div>
</div>


