.input-white-color::placeholder {
  color: white !important;
}

.input-white-color:-ms-input-placeholder {
  color: white !important;
}

.input-white-color::-ms-input-placeholder {
  color: white !important;
}

.input-white-color {
  color: white !important;
}
label{
  color: white;
}
span{
  color: green;
}
